body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

#content {
    min-height: calc(100vh - 20px);
}

#footer {
    height: 20px;
}

.login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login-modal {
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
}

.full-width {
    width: 100%;
}
