{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
    <script src="static/login.js"></script>
{% endblock %}
{% block content %}
    <div class="login-container">
        <div class="login-modal">
            <h1 class="font-sans">Login</h1>
            <p>Username</p>
            <input id="username-input" type="text" name="username"/>
            <p>Password</p>
            <input id="password-input" type="password" name="password"/>
            <button class="full-width" style="margin-top: 10px;" onclick="sendForm();">Login</button>
            <div id="error-message"></div>
        </div>
    </div>
{% endblock %}
